form {
  width: 100%;
  max-width: 400px;
  background-color: #f8f9fa;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #343a40;
  margin-bottom: 20px;
}

textarea {
  background-color: #e9ecef;
  border: 2px solid #6c757d;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(108, 117, 125, 0.1);
  color: #343a40;
  font-size: 18px;
  text-align: center;
  padding: 12px;
  height: 150px;
  width: 100%;
  margin-bottom: 20px;
}

textarea::placeholder {
  color: #adb5bd;
}

textarea:focus {
  outline-color: #007bff;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
}

.button--add {
  background: #28a745;
  box-shadow: 0px 5px 20px rgba(40, 167, 69, 0.5);
}

.button--cancel {
  background: #dc3545;
  box-shadow: 0px 5px 20px rgba(220, 53, 69, 0.5);
}

.button:hover {
  transform: translateY(-3px);
}
