.CreateTodoButton {
  background-color: #1e9620;  /* Verde vibrante que llama la atención */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);  /* Sombra más sutil para una apariencia refinada */
  border: none;  /* Mantenemos sin bordes para un diseño limpio */
  border-radius: 50%;  /* Forma redonda perfecta */
  cursor: pointer;  /* Cursor de mano que indica interactividad */
  font-size: 50px;  /* Tamaño de ícono grande para fácil reconocimiento */
  position: fixed;  /* Posición fija en la interfaz */
  bottom: 30px;  /* Posicionamiento ligeramente más alejado del borde */
  right: 30px;
  font-weight: bold;  /* Negrita para dar énfasis */
  color: white;  /* Texto blanco para mejor contraste */
  display: flex;  /* Flexbox para centrar contenido */
  justify-content: center;
  align-items: center;
  height: 70px;  /* Tamaño aumentado para mejor accesibilidad */
  width: 70px;
  z-index: 10;  /* Mayor z-index para asegurar visibilidad sobre otros elementos */
  transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Transiciones suavizadas para transformación y sombra */
}

.CreateTodoButton:hover, .CreateTodoButton:focus {
  transform: rotate(360deg);  /* Rotación completa para un efecto más dinámico */
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);  /* Sombra más pronunciada al interactuar */
  background-color: #22ac25;  /* Cambio sutil de color al interactuar */
}
