/* src/TodoIcon/TodoIcon.css */
.Icon-container {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  transition: all 0.3s ease;
}

.Icon-container-check,
.Icon-container-delete,
.Icon-container-edit {
  position: relative;
}

.Icon-container-check .Icon-svg,
.Icon-container-delete .Icon-svg,
.Icon-container-edit .Icon-svg {
  width: 100%;
  height: auto;
  fill: currentColor;
  transition: fill 0.3s ease;
}

.Icon-container-check:hover .Icon-svg {
  fill: #4caf50;
}

.Icon-container-delete:hover .Icon-svg {
  fill: #ff0000;
}

.Icon-container-edit:hover .Icon-svg {
  fill: #ffd700; /* Cambia el color a amarillo cuando se pasa el ratón */
}
