.TodoSearch {
  background: #ffffff; /* Fondo blanco */
  border-radius: 24px; /* Bordes redondeados */
  border: none; /* Sin borde */
  margin: 8px 24px; /* Márgenes ajustados */
  height: 40px; /* Altura reducida */
  width: calc(100% - 48px); /* Ancho ajustado */
  font-size: 16px; /* Tamaño de fuente reducido */
  padding: 8px 16px; /* Espaciado interno ajustado */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333333; /* Color de texto oscuro */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.TodoSearch::placeholder {
  color: #A5A5A5; /* Color de placeholder gris */
}

.TodoSearch:focus {
  outline: none; /* Eliminar el contorno al enfocar */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al enfocar */
}
